* {
    border: auto;
    margin: auto;
}

body {
    background-color: bisque;
}

.container {
    background-image: url('img/image.jpeg');
    background-size: 70rem;
    background-position: 50% 5%;
    opacity: 0.9;
    block-size: 14rem;
}

#Logo {
    height: 14em;
    opacity: .8;
}

#Name {
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
    font-weight: bold;
    margin: 1em;
}

.contact {
    color: black;
}

button {
    margin: 1rem;
}

.sidebar {
    background-color: black;
}

.main {
    background-color: tan;
    
}

.current-data {
    margin: 1em;
    float: left;
    margin: 1% 8%;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    color: black;
    opacity: 0.8;
}